* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

li.list-group-item {
    margin: auto;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.list-group {
    padding-right: 0;
}

h1 {
    margin: 24px 0;
}

.card {
    margin-top: 35px;
}

.messages p {
    height: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: ltr;
}

.chatArea {
    height: 400px;
    overflow-y: scroll;
    padding-bottom: 60px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;
    border-bottom: 1px solid #ccc;
}

#chatSubmit {
    width: 30%;
}
